{
  "plugins": [
    "prettier",
    "unused-imports",
    "simple-import-sort",
    "check-file"
  ],
  "extends": [
    "expo",
    "prettier",
    "plugin:tailwindcss/recommended"
  ],
  "rules": {
    "prefer-const": "error",
    "prettier/prettier": "error",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "react/function-component-definition": "warn",
    "react/self-closing-comp": "warn",
    "react/jsx-curly-brace-presence": ["error", { "props": "never", "children": "never" }],
    "import/prefer-default-export": "off",
    "tailwindcss/classnames-order": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    
    "tailwindcss/no-custom-classname": "error",
    "check-file/filename-naming-convention": [
      "error",
      { "**/!(_layout.tsx)": "KEBAB_CASE" },
      { "ignoreMiddleExtensions": true }
    ],
    "check-file/folder-naming-convention": [
      "error",
      { "/**/*": "KEBAB_CASE" }
    ]
  }
}