{
  "plugins": [
    "prettier",
    "unused-imports"
  ],
  "extends": [
    "expo",
    "prettier",
  ],
  "rules": {
    "prefer-const": "error",
    "prettier/prettier": "error",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ]
  }
}