{
  "plugins": [
    "prettier",
    "unused-imports"
  ],
  "extends": [
    "expo",
    "prettier"
  ],
  "rules": {
    // "react/display-name": "off",
    "prefer-const": "error",
    "prettier/prettier": "error",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "react/function-component-definition": "warn",
    "react/self-closing-comp": "warn",
    "no-restricted-imports": [
      "error",
      {
        "paths": ["./env", "@/env"]
      }
    ]
  }
}